form{
    display:flex;
    justify-content: center;
    align-items: center;

    width:80vw;

    button{

        padding: 28px 23px;
        margin-bottom:21px;
        font-size: small;
    }
    .buttons-container{
        display:flex;
        // flex-direction: column;

    }
}


